# General
.DS_Store
.idea/
Thumbs.db

# Node.js
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache/
.node_repl_history
.npm/
.pnp.*
.pnpm-debug.log*
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
coverage/
dist/
lerna-debug.log*
logs/
node_modules/
npm-debug.log*
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*
